<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>80898991063-rvp8ektveqk8sda2l334qa0cvruippc1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.80898991063-rvp8ektveqk8sda2l334qa0cvruippc1</string>
	<key>API_KEY</key>
	<string>AIzaSyBOkMOGGf7y3q2sHaF9C6gid10u2_QhNFs</string>
	<key>GCM_SENDER_ID</key>
	<string>80898991063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.don2dusk.mylocket.myLocket</string>
	<key>PROJECT_ID</key>
	<string>my-locket-19cc0</string>
	<key>STORAGE_BUCKET</key>
	<string>my-locket-19cc0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:80898991063:ios:b9725e4ee195096f15e192</string>
</dict>
</plist>